.statify-menu {
  z-index: 1000;
}
.status-bar {
  position: relative;
  background-color: #8d493a;
  top: -16px;
  left: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px slategrey;
}

.status-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.music-status {
  text-align: center;
  color: aliceblue;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

.search-menu {
  position: relative;
  top: 30px;
  background-color: #ceab93;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px slategrey;
}

.musicSearchBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.musicSearchButton {
  border-width: 2px;
  border-color: #8d493a;
  background-color: #dfd3c3;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
}
