main {
  width: 100vw;
  min-width: 876px;
  min-height: 100vh;
  background-color: #f3eeea;
}

.main-body {
  display: flex;
  flex-direction: row;
}

.main-content-section {
  min-width: 628px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.main-content {
  width: 100%;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.main-content-status {
  text-align: center;
}

.topListenCard {
  min-width: none;
  background-color: #b7c4cfa9;
  box-shadow: 1px 1px 5px #d7c0ae;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 5px;
  border-radius: 3px;
  border-color: #dfd3c3;
}

.topListenCardContent {
  display: flex;
  flex-direction: row;
}

.musicName {
  font-size: larger;
}

.musicArtistName {
  font-size: medium;
}

.imageCover {
  border-width: 1px;
  border-color: #b0a695;
  border-radius: 3px;
  box-shadow: 1px 1px 2px slategray;
  justify-items: left;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 20px;
}

.musicPopularity {
  font-size: small;
}

.musicArtistFollowers {
  font-size: small;
}

.musicGenre {
  font-size: small;
  display: flex;
  flex-direction: row;
}

.musicDescription {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.musicSearchButton {
  background-color: #776b5d;
  color: aliceblue;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px slategray;
}

.musicSearchButton:hover {
  background-color: #5e5142;
}

.musicRecommendationCard {
  background-color: #b7c4cfa9;
  box-shadow: 1px 1px 1px #d7c0ae;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

::ng-deep .p-fieldset {
  background-color: #d0b8a8c0;
  border-width: 3px;
  border-color: #c5705d;
}

::ng-deep .p-fieldset-legend {
  background-color: #d0b8a8c0;
  border-width: 3px;
  border-color: #c5705d;
  margin-left: 18px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

::ng-deep .p-fieldset-content {
  /* background-color: #d0b8a8c0; */
}

::ng-deep .p-autocomplete button {
  background-color: #ebe3d5;
  border-width: 1px;
  border-color: #5e51427d;
}

::ng-deep .p-autocomplete-input {
  font-family: Optima, sans-serif;
}

::ng-deep .p-autocomplete-panel {
  border-width: 1px;
  border-color: #5e51427d;
}

::ng-deep .p-autocomplete-items {
  font-family: Optima, sans-serif;
  font-size: 14px;
}
